<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<%= turbo_stream_from :channels %>

<div class="row">
  <div class="col-2">
    <%= link_to 'New Channel', new_channel_path, "data-turbo-frame": "channel" %>
    <%= turbo_frame_tag "channels" do %>
      <%= render @channels %>
    <% end %>
  </div>

  <div class="col-10">
    <%= turbo_frame_tag "channel" do %>
    <% end %>
  </div>
</div>
