<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<%= turbo_stream_from :channels %>

<%= turbo_frame_tag "channels" do %>
  <%= render @channels %>
<% end %>

<%= turbo_frame_tag "channel" do %>
<% end %>

<%= link_to 'New Channel', new_channel_path, "data-turbo-frame": "channel" %>
