<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @channel.about %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>

<div id="messages">
  <%= render @channel.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_channel_message_path(@channel), target: "_top" %>
